In [1]:
#activo el entorno
! .NBA_venv\Scripts\activate 
#compuebo si estoy trabajando en el entorno
! where python

c:\Users\ERBC\AppData\Local\Programs\Python\Python313\python.exe
C:\Users\ERBC\AppData\Local\Microsoft\WindowsApps\python.exe

In [2]:
! pip install pyodbc
! pip freeze > requirements.txt

Requirement already satisfied: pyodbc in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (5.2.0)

In [2]:
import pandas as pd
import pyodbc

# player__info_limpio.csv

In [43]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\player__info_limpio.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df

Dataset cargado:

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24,Duke,USA,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16,UCLA,USA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03,San Jose State,France,...,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11,California,USA,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06,Indiana,USA,...,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4154,1627835,Paul,Zipser,Paul Zipser,"Zipser, Paul",P. Zipser,paul-zipser,1994-02-18,Bayern Munich,Germany,...,paul_zipser,2016.0,2017.0,Y,Y,Y,2016,2,48,N
4155,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04,Darussafaka,Croatia,...,ante_zizic,2017.0,2019.0,Y,Y,Y,2016,1,23,N
4156,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30,Kent State,USA,...,HISTADD_jim_zoet,1982.0,1982.0,N,Y,Y,0,0,0,N
4157,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18,Mega Basket,Croatia,...,ivica_zubac,2016.0,2023.0,Y,Y,Y,2016,2,32,N
4158,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19,George Washington,USA,...,HISTADD_matt_zunic,1948.0,1948.0,N,Y,Y,1947,0,0,N

In [44]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_12276\3047082533.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [45]:
# 3. Crear la tabla en SQL Server (si no existe)
table_name = 'common_player_info'

# Definir la estructura de la tabla basada en las columnas del dataset
create_table_query = f'''
CREATE TABLE {table_name} (
    person_id INT PRIMARY KEY,
    first_name NVARCHAR(50),
    last_name NVARCHAR(50),
    display_first_last NVARCHAR(100),
    display_last_comma_first NVARCHAR(100),
    display_fi_last NVARCHAR(100),
    player_slug NVARCHAR(100),
    birthdate DATE,
    school NVARCHAR(100),
    country NVARCHAR(50),
    last_affiliation NVARCHAR(100),
    height NVARCHAR(10),
    weight INT,
    season_exp INT,
    jersey NVARCHAR(10),
    position NVARCHAR(50),
    rosterstatus NVARCHAR(10),
    games_played_current_season_flag NVARCHAR(10),
    team_id INT,
    team_name NVARCHAR(50),
    team_abbreviation NVARCHAR(10),
    team_code NVARCHAR(50),
    team_city NVARCHAR(50),
    playercode NVARCHAR(50),
    from_year INT,
    to_year INT,
    dleague_flag NVARCHAR(10),
    nba_flag NVARCHAR(10),
    games_played_flag NVARCHAR(10),
    draft_year NVARCHAR(50),
    draft_round INT,
    draft_number INT,
    greatest_75_flag NVARCHAR(10)
);
'''

# Ejecutar la consulta para crear la tabla (si no existe)
try:
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
except pyodbc.ProgrammingError as e:
    if 'There is already an object named' in str(e):
        print(f"La tabla '{table_name}' ya existe.")
    else:
        raise e

La tabla 'common_player_info' ya existe.

# 4. Insertar los datos en la tabla
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]

# Definir la consulta de inserción
insert_query = f'''
INSERT INTO {table_name} (
    person_id, first_name, last_name, display_first_last, display_last_comma_first, 
    display_fi_last, player_slug, birthdate, school, country, last_affiliation, 
    height, weight, season_exp, jersey, position, rosterstatus, 
    games_played_current_season_flag, team_id, team_name, team_abbreviation, 
    team_code, team_city, playercode, from_year, to_year, dleague_flag, 
    nba_flag, games_played_flag, draft_year, draft_round, draft_number, 
    greatest_75_flag
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

In [46]:
# 4. Insertar los datos en la tabla
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]

# Definir la consulta de inserción con un MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)) AS source (
    person_id, first_name, last_name, display_first_last, display_last_comma_first, 
    display_fi_last, player_slug, birthdate, school, country, last_affiliation, 
    height, weight, season_exp, jersey, position, rosterstatus, 
    games_played_current_season_flag, team_id, team_name, team_abbreviation, 
    team_code, team_city, playercode, from_year, to_year, dleague_flag, 
    nba_flag, games_played_flag, draft_year, draft_round, draft_number, 
    greatest_75_flag
)
ON target.person_id = source.person_id  -- Usar la columna de clave primaria o la columna única
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        person_id, first_name, last_name, display_first_last, display_last_comma_first, 
        display_fi_last, player_slug, birthdate, school, country, last_affiliation, 
        height, weight, season_exp, jersey, position, rosterstatus, 
        games_played_current_season_flag, team_id, team_name, team_abbreviation, 
        team_code, team_city, playercode, from_year, to_year, dleague_flag, 
        nba_flag, games_played_flag, draft_year, draft_round, draft_number, 
        greatest_75_flag
    )
    VALUES (
        source.person_id, source.first_name, source.last_name, source.display_first_last, source.display_last_comma_first, 
        source.display_fi_last, source.player_slug, source.birthdate, source.school, source.country, source.last_affiliation, 
        source.height, source.weight, source.season_exp, source.jersey, source.position, source.rosterstatus, 
        source.games_played_current_season_flag, source.team_id, source.team_name, source.team_abbreviation, 
        source.team_code, source.team_city, source.playercode, source.from_year, source.to_year, source.dleague_flag, 
        source.nba_flag, source.games_played_flag, source.draft_year, source.draft_round, source.draft_number, 
        source.greatest_75_flag
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")


# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'common_player_info'.

# Cerrar la conexión
cursor.close()
conn.close()

# draft_combine_stats_limpio.csv

In [47]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\draft_combine_stats_limpio.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

#segun la tabla para crear la primary key se debe combinar season: Temporada del draft. player_id: Identificador único del jugador.
# Esta combinación garantiza que no habrá registros duplicados para un jugador en una temporada.

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1176 entries, 0 to 1175
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   season                      1176 non-null   int64
 1   player_id                   1176 non-null   int64
 2   first_name                  1176 non-null   object
 3   last_name                   1176 non-null   object
 4   player_name                 1176 non-null   object
 5   position                    1176 non-null   object
 6   height_wo_shoes             1176 non-null   float64
 7   height_wo_shoes_ft_in       1176 non-null   float64
 8   height_w_shoes              1176 non-null   float64
 9   weight                      1176 non-null   float64
 10  wingspan                    1176 non-null   float64
 11  standing_reach              1176 non-null   float64
 12  body_fat_pct                1176 non-null   float64
 13  hand_length                 1176 non-null   float64
 14  hand_width                  1176 non-null   float64
 15  standing_vertical_leap      1176 non-null   float64
 16  max_vertical_leap           1176 non-null   float64
 17  lane_agility_time           1176 non-null   float64
 18  modified_lane_agility_time  1176 non-null   float64
 19  three_quarter_sprint        1176 non-null   float64
 20  bench_press                 1176 non-null   float64
dtypes: float64(15), int64(2), object(4)
memory usage: 193.1+ KB

In [48]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_12276\3047082533.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [49]:
# 3. Crear la tabla en SQL Server (si no existe)
table_name = 'draft_combine_stats'

check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0] #Esta línea ejecuta una consulta SQL que cuenta cuántas tablas existen con el nombre especificado en table_name
                                        #Esto devuelve 1 si la tabla existe o 0 si no.

if table_exists == 0:
    create_table_query = f'''
    CREATE TABLE {table_name} (
        season INT NOT NULL,
        player_id INT NOT NULL,
        first_name NVARCHAR(50) NOT NULL,
        last_name NVARCHAR(50) NOT NULL,
        player_name NVARCHAR(100) NOT NULL,
        position NVARCHAR(50) NOT NULL,
        height_wo_shoes FLOAT NOT NULL,
        height_wo_shoes_ft_in FLOAT NOT NULL,
        height_w_shoes FLOAT NOT NULL,
        weight FLOAT NOT NULL,
        wingspan FLOAT NOT NULL,
        standing_reach FLOAT NOT NULL,
        body_fat_pct FLOAT NOT NULL,
        hand_length FLOAT NOT NULL,
        hand_width FLOAT NOT NULL,
        standing_vertical_leap FLOAT NOT NULL,
        max_vertical_leap FLOAT NOT NULL,
        lane_agility_time FLOAT NOT NULL,
        modified_lane_agility_time FLOAT NOT NULL,
        three_quarter_sprint FLOAT NOT NULL,
        bench_press FLOAT NOT NULL,
        PRIMARY KEY (season, player_id),
        CONSTRAINT UQ_team_draft_combine_stats UNIQUE (season, player_id)
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

La tabla 'draft_combine_stats' ya existe.

In [50]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()] #El DataFrame se convierte en una lista de tuplas para insertarlas en SQL.

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)) AS source (
    season, player_id, first_name, last_name, player_name, position,
    height_wo_shoes, height_wo_shoes_ft_in, height_w_shoes, weight, wingspan,
    standing_reach, body_fat_pct, hand_length, hand_width,
    standing_vertical_leap, max_vertical_leap, lane_agility_time,
    modified_lane_agility_time, three_quarter_sprint, bench_press
)
ON target.season = source.season AND target.player_id = source.player_id
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        season, player_id, first_name, last_name, player_name, position,
        height_wo_shoes, height_wo_shoes_ft_in, height_w_shoes, weight, wingspan,
        standing_reach, body_fat_pct, hand_length, hand_width,
        standing_vertical_leap, max_vertical_leap, lane_agility_time,
        modified_lane_agility_time, three_quarter_sprint, bench_press
    )
    VALUES (
        source.season, source.player_id, source.first_name, source.last_name, source.player_name, source.position,
        source.height_wo_shoes, source.height_wo_shoes_ft_in, source.height_w_shoes, source.weight, source.wingspan,
        source.standing_reach, source.body_fat_pct, source.hand_length, source.hand_width,
        source.standing_vertical_leap, source.max_vertical_leap, source.lane_agility_time,
        source.modified_lane_agility_time, source.three_quarter_sprint, source.bench_press
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'draft_combine_stats'.

# draft_history_limpio.csv

In [51]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\draft_history_limpio.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()


#La clave primaria debe ser una combinación de columnas que garantice la unicidad de cada registro. En este caso, la combinación de season y overall_pick es la más adecuada, ya que:
#season: Identifica la temporada del draft.
#overall_pick: Identifica la selección general en el draft, que es única dentro de una temporada.
#Esta combinación garantiza que no habrá registros duplicados para una selección en una temporada específica.

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7969 entries, 0 to 7968
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   person_id            7969 non-null   int64
 1   player_name          7969 non-null   object
 2   season               7969 non-null   int64
 3   round_number         7969 non-null   int64
 4   round_pick           7969 non-null   int64
 5   overall_pick         7969 non-null   int64
 6   draft_type           7969 non-null   object
 7   team_id              7969 non-null   int64
 8   team_city            7969 non-null   object
 9   team_name            7969 non-null   object
 10  team_abbreviation    7969 non-null   object
 11  organization         7969 non-null   object
 12  organization_type    7969 non-null   object
 13  player_profile_flag  7969 non-null   int64
dtypes: int64(7), object(7)
memory usage: 871.7+ KB

In [52]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_12276\3047082533.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [53]:
# 3. Crear la tabla en SQL Server (si no existe)
table_name = 'draft_history'

check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0] #Esta línea ejecuta una consulta SQL que cuenta cuántas tablas existen con el nombre especificado en table_name
                                        #Esto devuelve 1 si la tabla existe o 0 si no.

if table_exists == 0:
    create_table_query = f'''
    CREATE TABLE {table_name} (
    person_id INT NOT NULL,
    player_name NVARCHAR(100) NOT NULL,
    season INT NOT NULL,
    round_number INT NOT NULL,
    round_pick INT NOT NULL,
    overall_pick INT NOT NULL,
    draft_type NVARCHAR(50) NOT NULL,
    team_id INT NOT NULL,
    team_city NVARCHAR(50) NOT NULL,
    team_name NVARCHAR(50) NOT NULL,
    team_abbreviation NVARCHAR(30) NOT NULL,
    organization NVARCHAR(100) NOT NULL,
    organization_type NVARCHAR(50) NOT NULL,
    player_profile_flag INT NOT NULL,
    PRIMARY KEY (season, overall_pick)
);
'''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

La tabla 'draft_history' ya existe.

In [54]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()] #El DataFrame se convierte en una lista de tuplas para insertarlas en SQL.

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)) AS source (
    person_id, player_name, season, round_number, round_pick, overall_pick,
    draft_type, team_id, team_city, team_name, team_abbreviation,
    organization, organization_type, player_profile_flag
)
ON target.overall_pick = source.overall_pick AND target.season = source.season
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        person_id, player_name, season, round_number, round_pick, overall_pick,
        draft_type, team_id, team_city, team_name, team_abbreviation,
        organization, organization_type, player_profile_flag
    )
    VALUES (
        source.person_id, source.player_name, source.season, source.round_number, source.round_pick, source.overall_pick,
        source.draft_type, source.team_id, source.team_city, source.team_name, source.team_abbreviation,
        source.organization, source.organization_type, source.player_profile_flag
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'draft_history'.

# game_limpio.csv

In [119]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\game_limpio.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")

df['game_date'] = pd.to_datetime(df['game_date'], errors='coerce') #game date de objeto a date time

df['team_abbreviation_home'] = df['team_abbreviation_home'].str.replace(r"['\"]", "", regex=True)
df['team_abbreviation_away'] = df['team_abbreviation_away'].str.replace(r"['\"]", "", regex=True)



# Verificar si todos los valores de game_id son únicos
is_unique = df['game_id'].nunique() == len(df)
print(f"¿Todos los game_id son únicos?: {is_unique}")


df.info()

Dataset cargado:
¿Todos los game_id son únicos?: True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65642 entries, 0 to 65641
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               65642 non-null  int64
 1   team_id_home            65642 non-null  int64
 2   team_abbreviation_home  65642 non-null  object
 3   team_name_home          65642 non-null  object
 4   game_id                 65642 non-null  int64
 5   game_date               65642 non-null  datetime64[ns]
 6   matchup_home            65642 non-null  object
 7   wl_home                 65642 non-null  object
 8   min                     65642 non-null  int64
 9   fgm_home                65642 non-null  float64
 10  fga_home                65642 non-null  float64
 11  fg_pct_home             65642 non-null  float64
 12  fg3m_home               65642 non-null  float64
 13  fg3a_home               65642 non-null  float64
 14  fg3_pct_home            65642 non-null  float64
 15  ftm_home                65642 non-null  float64
 16  fta_home                65642 non-null  float64
 17  ft_pct_home             65642 non-null  float64
 18  oreb_home               65642 non-null  float64
 19  dreb_home               65642 non-null  float64
 20  reb_home                65642 non-null  float64
 21  ast_home                65642 non-null  float64
 22  stl_home                65642 non-null  float64
 23  blk_home                65642 non-null  float64
 24  tov_home                65642 non-null  float64
 25  pf_home                 65642 non-null  float64
 26  pts_home                65642 non-null  float64
 27  plus_minus_home         65642 non-null  int64
 28  video_available_home    65642 non-null  int64
 29  team_id_away            65642 non-null  int64
 30  team_abbreviation_away  65642 non-null  object
 31  team_name_away          65642 non-null  object
 32  matchup_away            65642 non-null  object
 33  wl_away                 65642 non-null  object
 34  fgm_away                65642 non-null  float64
 35  fga_away                65642 non-null  float64
 36  fg_pct_away             65642 non-null  float64
 37  fg3m_away               65642 non-null  float64
 38  fg3a_away               65642 non-null  float64
 39  fg3_pct_away            65642 non-null  float64
 40  ftm_away                65642 non-null  float64
 41  fta_away                65642 non-null  float64
 42  ft_pct_away             65642 non-null  float64
 43  oreb_away               65642 non-null  float64
 44  dreb_away               65642 non-null  float64
 45  reb_away                65642 non-null  float64
 46  ast_away                65642 non-null  float64
 47  stl_away                65642 non-null  float64
 48  blk_away                65642 non-null  float64
 49  tov_away                65642 non-null  float64
 50  pf_away                 65642 non-null  float64
 51  pts_away                65642 non-null  float64
 52  plus_minus_away         65642 non-null  int64
 53  video_available_away    65642 non-null  int64
 54  season_type             65642 non-null  object
dtypes: datetime64[ns](1), float64(36), int64(9), object(9)
memory usage: 27.5+ MB

In [120]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_12276\3047082533.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [121]:
# 3. Crear la tabla en SQL Server (si no existe)
table_name = 'game'

check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0] #Esta línea ejecuta una consulta SQL que cuenta cuántas tablas existen con el nombre especificado en table_name
                                        #Esto devuelve 1 si la tabla existe o 0 si no.

if table_exists == 0:
    create_table_query = f'''
    CREATE TABLE {table_name} (
        game_id INT NOT NULL,
        season_id INT NOT NULL,
        team_id_home INT NOT NULL,
        team_abbreviation_home NVARCHAR(30) NOT NULL,
        team_name_home NVARCHAR(50) NOT NULL,
        game_date DATE NOT NULL,
        matchup_home NVARCHAR(50) NOT NULL,
        wl_home NVARCHAR(50) NOT NULL,
        min INT NOT NULL,
        fgm_home FLOAT NOT NULL,
        fga_home FLOAT NOT NULL,
        fg_pct_home FLOAT NOT NULL,
        fg3m_home FLOAT NOT NULL,
        fg3a_home FLOAT NOT NULL,
        fg3_pct_home FLOAT NOT NULL,
        ftm_home FLOAT NOT NULL,
        fta_home FLOAT NOT NULL,
        ft_pct_home FLOAT NOT NULL,
        oreb_home FLOAT NOT NULL,
        dreb_home FLOAT NOT NULL,
        reb_home FLOAT NOT NULL,
        ast_home FLOAT NOT NULL,
        stl_home FLOAT NOT NULL,
        blk_home FLOAT NOT NULL,
        tov_home FLOAT NOT NULL,
        pf_home FLOAT NOT NULL,
        pts_home FLOAT NOT NULL,
        plus_minus_home INT NOT NULL,
        video_available_home INT NOT NULL,
        team_id_away INT NOT NULL,
        team_abbreviation_away NVARCHAR(50) NOT NULL,
        team_name_away NVARCHAR(50) NOT NULL,
        matchup_away NVARCHAR(50) NOT NULL,
        wl_away NVARCHAR(50) NOT NULL,
        fgm_away FLOAT NOT NULL,
        fga_away FLOAT NOT NULL,
        fg_pct_away FLOAT NOT NULL,
        fg3m_away FLOAT NOT NULL,
        fg3a_away FLOAT NOT NULL,
        fg3_pct_away FLOAT NOT NULL,
        ftm_away FLOAT NOT NULL,
        fta_away FLOAT NOT NULL,
        ft_pct_away FLOAT NOT NULL,
        oreb_away FLOAT NOT NULL,
        dreb_away FLOAT NOT NULL,
        reb_away FLOAT NOT NULL,
        ast_away FLOAT NOT NULL,
        stl_away FLOAT NOT NULL,
        blk_away FLOAT NOT NULL,
        tov_away FLOAT NOT NULL,
        pf_away FLOAT NOT NULL,
        pts_away FLOAT NOT NULL,
        plus_minus_away INT NOT NULL,
        video_available_away INT NOT NULL,
        season_type NVARCHAR(20) NOT NULL,
        PRIMARY KEY (game_id)
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

Tabla 'game' creada exitosamente.

In [122]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row[:55]) for row in df.to_numpy()]  # Convierte el DataFrame en lista de tuplas

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES ({', '.join(['?' for _ in range(55)])})) AS source (
    season_id, team_id_home, team_abbreviation_home, team_name_home, game_id, game_date, matchup_home, wl_home, min, fgm_home,
    fga_home, fg_pct_home, fg3m_home, fg3a_home, fg3_pct_home, ftm_home, fta_home, ft_pct_home, oreb_home, dreb_home, 
    reb_home, ast_home, stl_home, blk_home, tov_home, pf_home, pts_home, plus_minus_home, video_available_home, team_id_away, 
    team_abbreviation_away, team_name_away, matchup_away, wl_away, fgm_away, fga_away, fg_pct_away, fg3m_away, fg3a_away, fg3_pct_away,
    ftm_away, fta_away, ft_pct_away, oreb_away, dreb_away, reb_away, ast_away, stl_away, blk_away, tov_away, 
    pf_away, pts_away, plus_minus_away, video_available_away, season_type
)
ON target.game_id = source.game_id
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        season_id, team_id_home, team_abbreviation_home, team_name_home, game_id, game_date,
        matchup_home, wl_home, min, fgm_home, fga_home, fg_pct_home, fg3m_home, fg3a_home, fg3_pct_home,
        ftm_home, fta_home, ft_pct_home, oreb_home, dreb_home, reb_home, ast_home, stl_home, blk_home, 
        tov_home, pf_home, pts_home, plus_minus_home, video_available_home,
        team_id_away, team_abbreviation_away, team_name_away, matchup_away, wl_away,
        fgm_away, fga_away, fg_pct_away, fg3m_away, fg3a_away, fg3_pct_away,
        ftm_away, fta_away, ft_pct_away, oreb_away, dreb_away, reb_away, ast_away,
        stl_away, blk_away, tov_away, pf_away, pts_away, plus_minus_away, video_available_away,
        season_type
    )
    VALUES (
        source.season_id, source.team_id_home, source.team_abbreviation_home, source.team_name_home, source.game_id, source.game_date,
        source.matchup_home, source.wl_home, source.min, source.fgm_home, source.fga_home, source.fg_pct_home, 
        source.fg3m_home, source.fg3a_home, source.fg3_pct_home, source.ftm_home, source.fta_home, source.ft_pct_home, 
        source.oreb_home, source.dreb_home, source.reb_home, source.ast_home, source.stl_home, source.blk_home, 
        source.tov_home, source.pf_home, source.pts_home, source.plus_minus_home, source.video_available_home,
        source.team_id_away, source.team_abbreviation_away, source.team_name_away, source.matchup_away, source.wl_away,
        source.fgm_away, source.fga_away, source.fg_pct_away, source.fg3m_away, source.fg3a_away, source.fg3_pct_away,
        source.ftm_away, source.fta_away, source.ft_pct_away, source.oreb_away, source.dreb_away, source.reb_away, source.ast_away,
        source.stl_away, source.blk_away, source.tov_away, source.pf_away, source.pts_away, source.plus_minus_away, 
        source.video_available_away, source.season_type
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'game'.

# game_summary.csv

In [5]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\game_summary_optimizada.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58021 entries, 0 to 58020
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   game_date       58021 non-null  object
 1   game_id         58021 non-null  int64
 2   status_id       58021 non-null  int64
 3   status_text     58021 non-null  object
 4   game_code       58021 non-null  object
 5   home_team       58021 non-null  int64
 6   visitor_team    58021 non-null  int64
 7   season          58021 non-null  int64
 8   period          58021 non-null  int64
 9   whistle_status  58021 non-null  int64
dtypes: int64(7), object(3)
memory usage: 4.4+ MB

In [6]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_10928\3047082533.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [7]:
# 3. Crear la tabla en SQL Server (si no existe)
table_name = 'game_summary'

# Consulta para verificar si la tabla ya existe
check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0]  # Devuelve 1 si la tabla existe, 0 si no.

if table_exists == 0:
    # Consulta para crear la tabla
    create_table_query = f'''
    CREATE TABLE {table_name} (
        game_date DATE NOT NULL,          -- Fecha del partido
        game_id INT NOT NULL,             -- Identificador único del partido
        status_id INT NOT NULL,           -- ID del estado del partido
        status_text NVARCHAR(100) NOT NULL, -- Texto del estado del partido
        game_code NVARCHAR(50) NOT NULL,  -- Código del partido
        home_team INT NOT NULL,           -- ID del equipo local
        visitor_team INT NOT NULL,        -- ID del equipo visitante
        season INT NOT NULL,              -- Temporada del partido
        period INT NOT NULL,              -- Período del partido
        whistle_status INT NOT NULL,      -- Estado del silbato (¿finalizado?)
        PRIMARY KEY (game_id)             -- Clave primaria
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

Tabla 'game_summary' creada exitosamente.

In [8]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]  # Convierte el DataFrame en lista de tuplas

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES ({', '.join(['?' for _ in range(10)])})) AS source (
    game_date, game_id, status_id, status_text, game_code, 
    home_team, visitor_team, season, period, whistle_status
)
ON target.game_id = source.game_id
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        game_date, game_id, status_id, status_text, game_code, 
        home_team, visitor_team, season, period, whistle_status
    )
    VALUES (
        source.game_date, source.game_id, source.status_id, source.status_text, source.game_code, 
        source.home_team, source.visitor_team, source.season, source.period, source.whistle_status
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'game_summary'.

# Game_info

In [9]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\game_info_optimizada.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_id     58053 non-null  int64
 1   game_date   58053 non-null  object
 2   attendance  58053 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB

In [23]:
def conectar_sql():
        # 2. Conectar a la base de datos SQL Server
    server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
    database = 'NBA_database'  # Nombre de la base de datos
    username = 'Sa'  # Usuario de SQL Server
    password = '1234'  # Contraseña de SQL Server

    # Cadena de conexión con usuario de sql
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

    #conexion con usuario de windows
    #conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

    # Establecer la conexión
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Conectado al server")

conectar_sql()

Conectado al server

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:3: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_10928\4263193143.py:3: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [14]:
# 3. Crear la tabla en SQL Server (si no existe)
table_name = 'game_info'

# Consulta para verificar si la tabla ya existe
check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0]  # Devuelve 1 si la tabla existe, 0 si no.

if table_exists == 0:
    # Consulta para crear la tabla
    create_table_query = f'''
    CREATE TABLE {table_name} (
        game_id INT NOT NULL PRIMARY KEY,  -- Identificador único del partido
        game_date DATE NOT NULL,           -- Fecha del partido
        attendance INT NOT NULL            -- Asistencia al partido
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

La tabla 'game_info' ya existe.

In [15]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]  # Convierte el DataFrame en lista de tuplas

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES (?, ?, ?)) AS source (game_id, game_date, attendance)
ON target.game_id = source.game_id
WHEN NOT MATCHED BY TARGET THEN
    INSERT (game_id, game_date, attendance)
    VALUES (source.game_id, source.game_date, source.attendance);
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'game_info'.

# Line_score

In [16]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\line_score_optimizada.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           58053 non-null  object
 1   game_sequence           58053 non-null  int64
 2   game_id                 58053 non-null  int64
 3   team_id_home            58053 non-null  int64
 4   team_abbreviation_home  58053 non-null  object
 5   team_city_name_home     58053 non-null  object
 6   team_nickname_home      58053 non-null  object
 7   team_wins_losses_home   58053 non-null  object
 8   pts_qtr1_home           58053 non-null  float64
 9   pts_qtr2_home           58053 non-null  float64
 10  pts_qtr3_home           58053 non-null  float64
 11  pts_qtr4_home           58053 non-null  float64
 12  pts_ot1_home            58053 non-null  float64
 13  pts_ot2_home            58053 non-null  float64
 14  pts_ot3_home            58053 non-null  float64
 15  pts_ot4_home            58053 non-null  float64
 16  pts_ot5_home            58053 non-null  float64
 17  pts_ot6_home            58053 non-null  float64
 18  pts_ot7_home            58053 non-null  float64
 19  pts_ot8_home            58053 non-null  float64
 20  pts_ot9_home            58053 non-null  float64
 21  pts_ot10_home           58053 non-null  float64
 22  pts_home                58053 non-null  float64
 23  team_id_away            58053 non-null  int64
 24  team_abbreviation_away  58053 non-null  object
 25  team_city_name_away     58053 non-null  object
 26  team_nickname_away      58053 non-null  object
 27  team_wins_losses_away   58053 non-null  object
 28  pts_qtr1_away           58053 non-null  float64
 29  pts_qtr2_away           58053 non-null  float64
 30  pts_qtr3_away           58053 non-null  float64
 31  pts_qtr4_away           58053 non-null  float64
 32  pts_ot1_away            58053 non-null  float64
 33  pts_ot2_away            58053 non-null  float64
 34  pts_ot3_away            58053 non-null  float64
 35  pts_ot4_away            58053 non-null  float64
 36  pts_ot5_away            58053 non-null  float64
 37  pts_ot6_away            58053 non-null  float64
 38  pts_ot7_away            58053 non-null  float64
 39  pts_ot8_away            58053 non-null  float64
 40  pts_ot9_away            58053 non-null  float64
 41  pts_ot10_away           58053 non-null  float64
 42  pts_away                58053 non-null  float64
dtypes: float64(30), int64(4), object(9)
memory usage: 19.0+ MB

In [27]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
print("Conectado al server")

Conectado al server

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_10928\195718536.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [28]:
# Definir el nombre de la tabla
table_name = 'line_score'

# Consulta para verificar si la tabla ya existe
check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0]  # Devuelve 1 si la tabla existe, 0 si no.

if table_exists == 0:
    # Consulta para crear la tabla
    create_table_query = f'''
    CREATE TABLE {table_name} (
        game_date_est DATE NOT NULL,          -- Fecha del partido
        game_sequence INT NOT NULL,           -- Secuencia del partido
        game_id INT NOT NULL,                 -- Identificador del partido
        team_id_home INT NOT NULL,            -- ID del equipo local
        team_abbreviation_home NVARCHAR(50) NOT NULL, -- Abreviatura del equipo local
        team_city_name_home NVARCHAR(50) NOT NULL,   -- Ciudad del equipo local
        team_nickname_home NVARCHAR(50) NOT NULL,    -- Apodo del equipo local
        team_wins_losses_home NVARCHAR(50) NOT NULL, -- Registro de victorias y derrotas del equipo local
        pts_qtr1_home FLOAT NOT NULL,         -- Puntos del equipo local en el 1er cuarto
        pts_qtr2_home FLOAT NOT NULL,         -- Puntos del equipo local en el 2do cuarto
        pts_qtr3_home FLOAT NOT NULL,         -- Puntos del equipo local en el 3er cuarto
        pts_qtr4_home FLOAT NOT NULL,         -- Puntos del equipo local en el 4to cuarto
        pts_ot1_home FLOAT NOT NULL,          -- Puntos del equipo local en la 1ra prórroga
        pts_ot2_home FLOAT NOT NULL,          -- Puntos del equipo local en la 2da prórroga
        pts_ot3_home FLOAT NOT NULL,          -- Puntos del equipo local en la 3ra prórroga
        pts_ot4_home FLOAT NOT NULL,          -- Puntos del equipo local en la 4ta prórroga
        pts_ot5_home FLOAT NOT NULL,          -- Puntos del equipo local en la 5ta prórroga
        pts_ot6_home FLOAT NOT NULL,          -- Puntos del equipo local en la 6ta prórroga
        pts_ot7_home FLOAT NOT NULL,          -- Puntos del equipo local en la 7ma prórroga
        pts_ot8_home FLOAT NOT NULL,          -- Puntos del equipo local en la 8va prórroga
        pts_ot9_home FLOAT NOT NULL,          -- Puntos del equipo local en la 9na prórroga
        pts_ot10_home FLOAT NOT NULL,         -- Puntos del equipo local en la 10ma prórroga
        pts_home FLOAT NOT NULL,              -- Total de puntos del equipo local
        team_id_away INT NOT NULL,            -- ID del equipo visitante
        team_abbreviation_away NVARCHAR(50) NOT NULL, -- Abreviatura del equipo visitante
        team_city_name_away NVARCHAR(50) NOT NULL,    -- Ciudad del equipo visitante
        team_nickname_away NVARCHAR(50) NOT NULL,     -- Apodo del equipo visitante
        team_wins_losses_away NVARCHAR(50) NOT NULL,  -- Registro de victorias y derrotas del equipo visitante
        pts_qtr1_away FLOAT NOT NULL,         -- Puntos del equipo visitante en el 1er cuarto
        pts_qtr2_away FLOAT NOT NULL,         -- Puntos del equipo visitante en el 2do cuarto
        pts_qtr3_away FLOAT NOT NULL,         -- Puntos del equipo visitante en el 3er cuarto
        pts_qtr4_away FLOAT NOT NULL,         -- Puntos del equipo visitante en el 4to cuarto
        pts_ot1_away FLOAT NOT NULL,          -- Puntos del equipo visitante en la 1ra prórroga
        pts_ot2_away FLOAT NOT NULL,          -- Puntos del equipo visitante en la 2da prórroga
        pts_ot3_away FLOAT NOT NULL,          -- Puntos del equipo visitante en la 3ra prórroga
        pts_ot4_away FLOAT NOT NULL,          -- Puntos del equipo visitante en la 4ta prórroga
        pts_ot5_away FLOAT NOT NULL,          -- Puntos del equipo visitante en la 5ta prórroga
        pts_ot6_away FLOAT NOT NULL,          -- Puntos del equipo visitante en la 6ta prórroga
        pts_ot7_away FLOAT NOT NULL,          -- Puntos del equipo visitante en la 7ma prórroga
        pts_ot8_away FLOAT NOT NULL,          -- Puntos del equipo visitante en la 8va prórroga
        pts_ot9_away FLOAT NOT NULL,          -- Puntos del equipo visitante en la 9na prórroga
        pts_ot10_away FLOAT NOT NULL,         -- Puntos del equipo visitante en la 10ma prórroga
        pts_away FLOAT NOT NULL,              -- Total de puntos del equipo visitante
        PRIMARY KEY (game_id, team_id_home, team_id_away) -- Clave primaria compuesta
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

Tabla 'line_score' creada exitosamente.

In [30]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]  # Convierte el DataFrame en lista de tuplas

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES ({', '.join(['?' for _ in range(43)])})) AS source (
    game_date_est, game_sequence, game_id, team_id_home, team_abbreviation_home, 
    team_city_name_home, team_nickname_home, team_wins_losses_home, pts_qtr1_home, 
    pts_qtr2_home, pts_qtr3_home, pts_qtr4_home, pts_ot1_home, pts_ot2_home, pts_ot3_home, 
    pts_ot4_home, pts_ot5_home, pts_ot6_home, pts_ot7_home, pts_ot8_home, pts_ot9_home, 
    pts_ot10_home, pts_home, team_id_away, team_abbreviation_away, team_city_name_away, 
    team_nickname_away, team_wins_losses_away, pts_qtr1_away, pts_qtr2_away, pts_qtr3_away, 
    pts_qtr4_away, pts_ot1_away, pts_ot2_away, pts_ot3_away, pts_ot4_away, pts_ot5_away, 
    pts_ot6_away, pts_ot7_away, pts_ot8_away, pts_ot9_away, pts_ot10_away, pts_away
)
ON target.game_id = source.game_id AND target.team_id_home = source.team_id_home AND target.team_id_away = source.team_id_away
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        game_date_est, game_sequence, game_id, team_id_home, team_abbreviation_home, 
        team_city_name_home, team_nickname_home, team_wins_losses_home, pts_qtr1_home, 
        pts_qtr2_home, pts_qtr3_home, pts_qtr4_home, pts_ot1_home, pts_ot2_home, pts_ot3_home, 
        pts_ot4_home, pts_ot5_home, pts_ot6_home, pts_ot7_home, pts_ot8_home, pts_ot9_home, 
        pts_ot10_home, pts_home, team_id_away, team_abbreviation_away, team_city_name_away, 
        team_nickname_away, team_wins_losses_away, pts_qtr1_away, pts_qtr2_away, pts_qtr3_away, 
        pts_qtr4_away, pts_ot1_away, pts_ot2_away, pts_ot3_away, pts_ot4_away, pts_ot5_away, 
        pts_ot6_away, pts_ot7_away, pts_ot8_away, pts_ot9_away, pts_ot10_away, pts_away
    )
    VALUES (
        source.game_date_est, source.game_sequence, source.game_id, source.team_id_home, source.team_abbreviation_home, 
        source.team_city_name_home, source.team_nickname_home, source.team_wins_losses_home, source.pts_qtr1_home, 
        source.pts_qtr2_home, source.pts_qtr3_home, source.pts_qtr4_home, source.pts_ot1_home, source.pts_ot2_home, source.pts_ot3_home, 
        source.pts_ot4_home, source.pts_ot5_home, source.pts_ot6_home, source.pts_ot7_home, source.pts_ot8_home, source.pts_ot9_home, 
        source.pts_ot10_home, source.pts_home, source.team_id_away, source.team_abbreviation_away, source.team_city_name_away, 
        source.team_nickname_away, source.team_wins_losses_away, source.pts_qtr1_away, source.pts_qtr2_away, source.pts_qtr3_away, 
        source.pts_qtr4_away, source.pts_ot1_away, source.pts_ot2_away, source.pts_ot3_away, source.pts_ot4_away, source.pts_ot5_away, 
        source.pts_ot6_away, source.pts_ot7_away, source.pts_ot8_away, source.pts_ot9_away, source.pts_ot10_away, source.pts_away
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'line_score'.

# Inactive_players

In [3]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\inactive_players.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110183 entries, 0 to 110182
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   game_id            110183 non-null  int64
 1   player_id          110183 non-null  int64
 2   first_name         110183 non-null  object
 3   last_name          110183 non-null  object
 4   jersey_num         110183 non-null  float64
 5   team_id            110183 non-null  int64
 6   team_city          110183 non-null  object
 7   team_name          110183 non-null  object
 8   team_abbreviation  110183 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 7.6+ MB

In [4]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
print("Conectado al server")

Conectado al server

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_17748\195718536.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [5]:
# Definir el nombre de la tabla
table_name = 'inactive_players'

# Consulta para verificar si la tabla ya existe
check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0]  # Devuelve 1 si la tabla existe, 0 si no.

if table_exists == 0:
    # Consulta para crear la tabla
    create_table_query = f'''
    CREATE TABLE {table_name} (
        game_id INT NOT NULL,               -- Identificador del partido
        player_id INT NOT NULL,             -- Identificador del jugador
        first_name NVARCHAR(50) NOT NULL,   -- Nombre del jugador
        last_name NVARCHAR(50) NOT NULL,    -- Apellido del jugador
        jersey_num FLOAT NOT NULL,          -- Número de camiseta
        team_id INT NOT NULL,               -- ID del equipo
        team_city NVARCHAR(50) NOT NULL,    -- Ciudad del equipo
        team_name NVARCHAR(50) NOT NULL,    -- Nombre del equipo
        team_abbreviation NVARCHAR(50) NOT NULL, -- Abreviatura del equipo
        PRIMARY KEY (game_id, player_id)    -- Clave primaria compuesta
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

Tabla 'inactive_players' creada exitosamente.

In [6]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]  # Convierte el DataFrame en lista de tuplas

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)) AS source (
    game_id, player_id, first_name, last_name, jersey_num, team_id, team_city, team_name, team_abbreviation
)
ON target.game_id = source.game_id AND target.player_id = source.player_id
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        game_id, player_id, first_name, last_name, jersey_num, team_id, team_city, team_name, team_abbreviation
    )
    VALUES (
        source.game_id, source.player_id, source.first_name, source.last_name, source.jersey_num, 
        source.team_id, source.team_city, source.team_name, source.team_abbreviation
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'inactive_players'.

# Teams_details

In [15]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\team_details_optimizada.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   team_id             25 non-null     int64
 1   abbreviation        25 non-null     object
 2   nickname            25 non-null     object
 3   yearfounded         25 non-null     float64
 4   city                25 non-null     object
 5   arena               25 non-null     object
 6   arenacapacity       25 non-null     float64
 7   owner               25 non-null     object
 8   generalmanager      25 non-null     object
 9   headcoach           25 non-null     object
 10  dleagueaffiliation  25 non-null     object
 11  facebook            25 non-null     object
 12  instagram           25 non-null     object
 13  twitter             25 non-null     object
dtypes: float64(2), int64(1), object(11)
memory usage: 2.9+ KB

In [16]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
print("Conectado al server")

Conectado al server

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_17748\195718536.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [17]:
# Definir el nombre de la tabla
table_name = 'team_details'

# Consulta para verificar si la tabla ya existe
check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0]  # Devuelve 1 si la tabla existe, 0 si no.

if table_exists == 0:
    # Consulta para crear la tabla
    create_table_query = f'''
    CREATE TABLE {table_name} (
        team_id INT NOT NULL PRIMARY KEY,   -- Identificador del equipo
        abbreviation NVARCHAR(10) NOT NULL, -- Abreviatura del equipo
        nickname NVARCHAR(50) NOT NULL,     -- Apodo del equipo
        yearfounded FLOAT NOT NULL,         -- Año de fundación
        city NVARCHAR(50) NOT NULL,         -- Ciudad del equipo
        arena NVARCHAR(100) NOT NULL,       -- Nombre de la arena
        arenacapacity FLOAT NOT NULL,       -- Capacidad de la arena
        owner NVARCHAR(100) NOT NULL,       -- Dueño del equipo
        generalmanager NVARCHAR(100) NOT NULL, -- Gerente general
        headcoach NVARCHAR(100) NOT NULL,   -- Entrenador principal
        dleagueaffiliation NVARCHAR(100) NOT NULL, -- Afiliación a la D-League
        facebook NVARCHAR(255) NOT NULL,    -- Página de Facebook
        instagram NVARCHAR(255) NOT NULL,   -- Página de Instagram
        twitter NVARCHAR(255) NOT NULL      -- Página de Twitter
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

La tabla 'team_details' ya existe.

In [18]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]  # Convierte el DataFrame en lista de tuplas

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)) AS source (
    team_id, abbreviation, nickname, yearfounded, city, arena, arenacapacity, owner, 
    generalmanager, headcoach, dleagueaffiliation, facebook, instagram, twitter
)
ON target.team_id = source.team_id
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        team_id, abbreviation, nickname, yearfounded, city, arena, arenacapacity, owner, 
        generalmanager, headcoach, dleagueaffiliation, facebook, instagram, twitter
    )
    VALUES (
        source.team_id, source.abbreviation, source.nickname, source.yearfounded, source.city, 
        source.arena, source.arenacapacity, source.owner, source.generalmanager, source.headcoach, 
        source.dleagueaffiliation, source.facebook, source.instagram, source.twitter
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'team_details'.

# Team

In [20]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\team_optimizada.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30 non-null     int64
 1   full_name     30 non-null     object
 2   abbreviation  30 non-null     object
 3   nickname      30 non-null     object
 4   city          30 non-null     object
 5   state         30 non-null     object
 6   year_founded  30 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.8+ KB

In [22]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
print("Conectado al server")

Conectado al server

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_17748\195718536.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [ ]:
# Definir el nombre de la tabla
table_name = 'team'

# Consulta para verificar si la tabla ya existe
check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0]  # Devuelve 1 si la tabla existe, 0 si no.

if table_exists == 0:
    # Consulta para crear la tabla
    create_table_query = f'''
    CREATE TABLE {table_name} (
        id INT NOT NULL PRIMARY KEY,   -- Identificador del equipo
        full_name NVARCHAR(100) NOT NULL, -- Nombre completo del equipo
        abbreviation NVARCHAR(10) NOT NULL, -- Abreviatura del equipo
        nickname NVARCHAR(50) NOT NULL,     -- Apodo del equipo
        city NVARCHAR(50) NOT NULL,         -- Ciudad del equipo
        state NVARCHAR(50) NOT NULL,        -- Estado del equipo
        year_founded FLOAT NOT NULL         -- Año de fundación
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

Tabla 'team' creada exitosamente.

In [24]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]  # Convierte el DataFrame en lista de tuplas

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES (?, ?, ?, ?, ?, ?, ?)) AS source (
    id, full_name, abbreviation, nickname, city, state, year_founded
)
ON target.id = source.id
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        id, full_name, abbreviation, nickname, city, state, year_founded
    )
    VALUES (
        source.id, source.full_name, source.abbreviation, source.nickname, source.city, 
        source.state, source.year_founded
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'team'.

# Team_history

In [25]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\team_history_optimizada.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   team_id           52 non-null     int64
 1   city              52 non-null     object
 2   nickname          52 non-null     object
 3   year_founded      52 non-null     int64
 4   year_active_till  52 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

In [26]:
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
print("Conectado al server")

Conectado al server

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_17748\195718536.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [27]:
# Definir el nombre de la tabla
table_name = 'team_history'

# Consulta para verificar si la tabla ya existe
check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0]  # Devuelve 1 si la tabla existe, 0 si no.

if table_exists == 0:
    # Consulta para crear la tabla
    create_table_query = f'''
    CREATE TABLE {table_name} (
        team_id INT NOT NULL,   -- Identificador del equipo
        city NVARCHAR(50) NOT NULL, -- Ciudad del equipo
        nickname NVARCHAR(50) NOT NULL, -- Apodo del equipo
        year_founded INT NOT NULL, -- Año de fundación
        year_active_till INT NOT NULL, -- Año hasta el que estuvo activo
        PRIMARY KEY (team_id, year_founded) -- Clave primaria compuesta
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

Tabla 'team_history' creada exitosamente.

In [28]:
# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]  # Convierte el DataFrame en lista de tuplas

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES (?, ?, ?, ?, ?)) AS source (
    team_id, city, nickname, year_founded, year_active_till
)
ON target.team_id = source.team_id AND target.year_founded = source.year_founded
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
        team_id, city, nickname, year_founded, year_active_till
    )
    VALUES (
        source.team_id, source.city, source.nickname, source.year_founded, source.year_active_till
    );
'''

# Ejecutar la inserción
try:
    cursor.executemany(insert_query, data_tuples)
    conn.commit()
    print(f"Datos insertados exitosamente en la tabla '{table_name}'.")
except Exception as e:
    print(f"Error al insertar datos: {e}")

# Cerrar la conexión
cursor.close()
conn.close()

Datos insertados exitosamente en la tabla 'team_history'.