In [1]:
#activo el entorno
! .NBA_venv\Scripts\activate 
#compuebo si estoy trabajando en el entorno
! where python

c:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\.NBA_venv\Scripts\python.exe
C:\Users\ERBC\AppData\Local\Programs\Python\Python313\python.exe
C:\Users\ERBC\AppData\Local\Microsoft\WindowsApps\python.exe

In [2]:
#lxml para estraer tablas xml
! pip install pandas requests lxml 
! pip freeze > requirements.txt

Requirement already satisfied: pandas in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (2.2.3)
Requirement already satisfied: requests in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (2.32.3)
Requirement already satisfied: lxml in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (5.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (from requests) (2024.12.14)
Requirement already satisfied: six>=1.5 in c:\users\erbc\desktop\curso henry\analisis_evolutivo_nba\analisis_evolutivo_nba\.nba_venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd


# URL de la página de ESPN con las posiciones de la NBA
url = "https://www.espn.com.co/basquetbol/nba/posiciones/_/grupo/liga"

# Extraer todas las tablas de la página web sin interpretar la primera fila como encabezado
tables = pd.read_html(url, header=None)

# Asignar las tablas a variables
tabla_datos = tables[1]  # Segunda tabla (datos de posiciones)
tabla_equipos = tables[0]  # Primera tabla (lista de equipos)

# Crear una nueva fila con "Equipos"
nueva_fila = pd.DataFrame(["Equipos"], columns=tabla_equipos.columns)

# Insertar la nueva fila al inicio de la tabla
tabla_equipos_1 = pd.concat([nueva_fila, tabla_equipos], ignore_index=True)

# Copiar el nombre del encabezado a la primera fila
tabla_equipos_1.iloc[0] = tabla_equipos.columns

tabla_equipos_1.columns = ["Equipos"]
# Mostrar la tabla corregida
print(tabla_equipos_1.head())

                    Equipos
0  OKCOklahoma City Thunder
1    CLECleveland Cavaliers
2         BOSBoston Celtics
3      MEMMemphis Grizzlies
4         NYNew York Knicks

In [4]:
# Separar la columna 'Equipo' en dos: una para la abreviación (primeros 3 caracteres) y otra para el nombre completo
tabla_equipos_1['Abreviacion'] = tabla_equipos_1['Equipos'].str.slice(0, 3)  # Primeros 3 caracteres
tabla_equipos_1['Nombre_equipo'] = tabla_equipos_1['Equipos'].str.slice(3)  # Resto del nombre

# Eliminar la columna original 'Equipo'
tabla_equipos_1 = tabla_equipos_1.drop(columns=['Equipos'])

# Mostrar la tabla corregida
print(tabla_equipos_1.head())

tabla_datos

  Abreviacion          Nombre_equipo
0         OKC  Oklahoma City Thunder
1         CLE    Cleveland Cavaliers
2         BOS         Boston Celtics
3         MEM      Memphis Grizzlies
4         NYN         ew York Knicks

,G,P,PCT,JD,LOCAL,VIS,DIV,CONF,PPA,PPP,DIFP,R,U10
0,42,9,0.824,-,23-3,18-6,7-1,24-8,117.8,104.8,13.0,G5,8-2
1,42,10,0.808,0.5,24-4,18-6,9-1,28-7,122.4,112.1,10.3,G2,6-4
2,37,16,0.698,6,16-10,21-6,7-2,27-9,117.5,108.7,8.8,G1,7-3
3,35,17,0.673,7.5,21-6,14-11,8-4,19-13,123.5,115.6,7.9,P1,8-2
4,34,18,0.654,8.5,18-10,16-8,9-2,23-11,117.7,111.8,5.9,P1,7-3
5,34,19,0.642,9,17-8,17-11,4-4,20-12,120.9,115.7,5.2,G6,7-3
6,33,20,0.623,10,16-8,17-11,9-3,19-12,112.9,108.7,4.2,G1,4-6
7,31,19,0.620,10.5,18-6,13-13,9-3,19-11,112.8,112.1,0.7,G5,9-1
8,29,22,0.569,13,14-7,14-14,6-4,17-15,115.7,115.1,0.6,P1,7-3
9,30,23,0.566,13,15-12,15-11,5-3,22-14,111.7,108.0,3.7,G3,8-2
10,29,23,0.558,13.5,18-10,11-13,6-4,18-18,110.5,107.8,2.7,G1,5-5
11,28,23,0.549,14,17-8,10-15,6-5,23-16,114.6,112.9,1.7,G1,4-6
12,28,25,0.528,15,15-10,13-15,6-4,20-17,115.5,113.3,2.2,G2,5-5
13,27,26,0.509,16,14-13,13-13,2-9,19-20,112.9,113.5,-0.6,G2,5-5
14,26,26,0.500,16.5,14-13,12-13,4-6,17-17,116.2,115.4,0.8,G1,4-6
15,26,26,0.500,16.5,16-10,10-16,7-4,17-15,113.3,114.8,-1.5,P1,5-5
16,26,26,0.500,16.5,15-13,11-13,1-10,17-18,111.9,111.9,0.0,G1,5-5
17,25,25,0.500,16.5,12-10,12-15,5-3,14-15,110.5,110.6,-0.1,P1,5-5
18,26,28,0.481,17.5,16-9,10-19,5-2,20-15,104.0,105.7,-1.7,G1,3-7
19,25,28,0.472,18,12-12,13-15,5-2,18-13,116.2,118.8,-2.6,G2,3-7
20,22,28,0.440,19.5,13-12,8-15,2-7,16-18,112.8,114.3,-1.5,P2,3-7
21,23,30,0.434,20,15-13,8-17,4-6,14-25,108.8,113.9,-5.1,P1,8-2
22,22,31,0.415,21,10-17,12-14,3-7,17-18,116.6,120.3,-3.7,P2,4-6
23,20,32,0.385,22.5,10-16,10-16,3-4,14-18,109.5,113.3,-3.8,P3,5-5
24,18,34,0.346,24.5,7-17,11-17,1-8,9-23,105.3,111.7,-6.4,G1,4-6
25,16,37,0.302,27,12-16,4-21,3-7,10-23,110.7,116.5,-5.8,P4,5-5
26,13,37,0.260,28.5,9-20,4-17,0-9,7-28,107.0,112.3,-5.3,P1,2-8
27,12,39,0.235,30,5-18,7-21,1-7,4-30,111.8,119.1,-7.3,P2,2-8
28,12,40,0.231,30.5,8-18,4-22,1-8,6-24,110.2,118.8,-8.6,P8,2-8
29,9,43,0.173,33.5,5-21,4-21,5-4,7-22,107.9,121.6,-13.7,P2,3-7

In [5]:
tabla_equipos_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Abreviacion    30 non-null     object
 1   Nombre_equipo  30 non-null     object
dtypes: object(2)
memory usage: 612.0+ bytes

In [6]:
tabla_datos.columns = tabla_datos.columns.str.strip()
tabla_equipos_1.columns = tabla_equipos_1.columns.str.strip()

In [7]:
tabla_unida = pd.merge(tabla_equipos_1, tabla_datos, left_index=True, right_index=True, how='inner')

correcciones = {
    'ew York Knicks': 'New York Knicks',
    'olden State Warriors': 'Golden State Warriors',
    'an Antonio Spurs': 'San Antonio Spurs',
    'ew Orleans Pelicans': 'New Orleans Pelicans'
}

tabla_unida['Nombre_equipo'] = tabla_unida['Nombre_equipo'].replace(correcciones)


ruta_guardar = r'C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\Posiciones_actuales.csv'
tabla_unida.to_csv(ruta_guardar, index=False)

In [8]:
# Mostrar la tabla unida
tabla_unida

,Abreviacion,Nombre_equipo,G,P,PCT,JD,LOCAL,VIS,DIV,CONF,PPA,PPP,DIFP,R,U10
0,OKC,Oklahoma City Thunder,42,9,0.824,-,23-3,18-6,7-1,24-8,117.8,104.8,13.0,G5,8-2
1,CLE,Cleveland Cavaliers,42,10,0.808,0.5,24-4,18-6,9-1,28-7,122.4,112.1,10.3,G2,6-4
2,BOS,Boston Celtics,37,16,0.698,6,16-10,21-6,7-2,27-9,117.5,108.7,8.8,G1,7-3
3,MEM,Memphis Grizzlies,35,17,0.673,7.5,21-6,14-11,8-4,19-13,123.5,115.6,7.9,P1,8-2
4,NYN,New York Knicks,34,18,0.654,8.5,18-10,16-8,9-2,23-11,117.7,111.8,5.9,P1,7-3
5,DEN,Denver Nuggets,34,19,0.642,9,17-8,17-11,4-4,20-12,120.9,115.7,5.2,G6,7-3
6,HOU,Houston Rockets,33,20,0.623,10,16-8,17-11,9-3,19-12,112.9,108.7,4.2,G1,4-6
7,LAL,Los Angeles Lakers,31,19,0.620,10.5,18-6,13-13,9-3,19-11,112.8,112.1,0.7,G5,9-1
8,IND,Indiana Pacers,29,22,0.569,13,14-7,14-14,6-4,17-15,115.7,115.1,0.6,P1,7-3
9,MIN,Minnesota Timberwolves,30,23,0.566,13,15-12,15-11,5-3,22-14,111.7,108.0,3.7,G3,8-2
10,LAC,LA Clippers,29,23,0.558,13.5,18-10,11-13,6-4,18-18,110.5,107.8,2.7,G1,5-5
11,MIL,Milwaukee Bucks,28,23,0.549,14,17-8,10-15,6-5,23-16,114.6,112.9,1.7,G1,4-6
12,DAL,Dallas Mavericks,28,25,0.528,15,15-10,13-15,6-4,20-17,115.5,113.3,2.2,G2,5-5
13,DET,Detroit Pistons,27,26,0.509,16,14-13,13-13,2-9,19-20,112.9,113.5,-0.6,G2,5-5
14,SAC,Sacramento Kings,26,26,0.500,16.5,14-13,12-13,4-6,17-17,116.2,115.4,0.8,G1,4-6
15,PHX,Phoenix Suns,26,26,0.500,16.5,16-10,10-16,7-4,17-15,113.3,114.8,-1.5,P1,5-5
16,GSG,Golden State Warriors,26,26,0.500,16.5,15-13,11-13,1-10,17-18,111.9,111.9,0.0,G1,5-5
17,MIA,Miami Heat,25,25,0.500,16.5,12-10,12-15,5-3,14-15,110.5,110.6,-0.1,P1,5-5
18,ORL,Orlando Magic,26,28,0.481,17.5,16-9,10-19,5-2,20-15,104.0,105.7,-1.7,G1,3-7
19,ATL,Atlanta Hawks,25,28,0.472,18,12-12,13-15,5-2,18-13,116.2,118.8,-2.6,G2,3-7
20,SAS,San Antonio Spurs,22,28,0.440,19.5,13-12,8-15,2-7,16-18,112.8,114.3,-1.5,P2,3-7
21,POR,Portland Trail Blazers,23,30,0.434,20,15-13,8-17,4-6,14-25,108.8,113.9,-5.1,P1,8-2
22,CHI,Chicago Bulls,22,31,0.415,21,10-17,12-14,3-7,17-18,116.6,120.3,-3.7,P2,4-6
23,PHI,Philadelphia 76ers,20,32,0.385,22.5,10-16,10-16,3-4,14-18,109.5,113.3,-3.8,P3,5-5
24,BKN,Brooklyn Nets,18,34,0.346,24.5,7-17,11-17,1-8,9-23,105.3,111.7,-6.4,G1,4-6
25,TOR,Toronto Raptors,16,37,0.302,27,12-16,4-21,3-7,10-23,110.7,116.5,-5.8,P4,5-5
26,CHA,Charlotte Hornets,13,37,0.260,28.5,9-20,4-17,0-9,7-28,107.0,112.3,-5.3,P1,2-8
27,UTA,HUtah Jazz,12,39,0.235,30,5-18,7-21,1-7,4-30,111.8,119.1,-7.3,P2,2-8
28,NON,New Orleans Pelicans,12,40,0.231,30.5,8-18,4-22,1-8,6-24,110.2,118.8,-8.6,P8,2-8
29,WSH,Washington Wizards,9,43,0.173,33.5,5-21,4-21,5-4,7-22,107.9,121.6,-13.7,P2,3-7

In [65]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

ruta_guardar = r'C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\Estadisticas_actuales.csv'

# Configurar Selenium
driver = webdriver.Chrome()
url = "https://www.nba.com/stats/leaders/"
driver.get(url)

# Esperar a que la tabla cargue
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.CLASS_NAME, "Crom_table__p1iZz")))

# Extraer nombres de columnas automáticamente
header_elements = driver.find_elements(By.CSS_SELECTOR, "table thead tr th")
columns = [col.text.strip() for col in header_elements]

# Lista para almacenar los datos
all_stats = []

# Número de páginas a recorrer
MAX_PAGES = 5  # Hay 5 páginas en total
clicks_realizados = 0

while clicks_realizados < MAX_PAGES:
    # Extraer las filas de la tabla
    rows = driver.find_elements(By.CSS_SELECTOR, "table tbody tr")
    
    for row in rows:
        columns_data = row.find_elements(By.TAG_NAME, "td")
        stats = [col.text for col in columns_data]  # Extraer el texto de cada columna
        if stats:
            all_stats.append(stats)

    # Intentar hacer clic en "Next Page" (hasta la 4ta página)
    if clicks_realizados < MAX_PAGES - 1:
        try:
            next_button = driver.find_element(By.XPATH, "//button[@title='Next Page Button']")
            
            if "disabled" in next_button.get_attribute("class"):
                print("Botón deshabilitado. No hay más páginas.")
                break
            
            driver.execute_script("arguments[0].scrollIntoView();", next_button)  # Hacer scroll al botón
            driver.execute_script("arguments[0].click();", next_button)  # Forzar clic con JS
            time.sleep(3)  # Esperar que cargue la nueva página
            clicks_realizados += 1  # Contar el clic
        except Exception as e:
            print("No se encontró el botón o no se pudo hacer clic:", e)
            break
    else:
        break  # Salir después de la última página

# Cerrar navegador
driver.quit()

# Crear DataFrame con columnas dinámicas
df = pd.DataFrame(all_stats, columns=columns)


# Renombrar las columnas del DataFrame para que coincidan con la base de datos
df = df.rename(columns={
    '#': 'position',  
    'FG%': 'FG_PCT',
    '3PM': 'TPM',
    '3PA': 'TPA',
    '3P%': 'TP_PCT',
    'FT%': 'FT_PCT'
})

# Guardar en CSV
df.to_csv(ruta_guardar, index=False)
print(f"Scraping completado ({clicks_realizados + 1} páginas) y guardado en nba_leaders.csv")

Scraping completado (5 páginas) y guardado en nba_leaders.csv

# Ingesta de tabla de clasificacion

In [ ]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\Posiciones_actuales.csv"
df = pd.read_csv(ruta_csv)
# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Abreviacion    30 non-null     object
 1   Nombre_equipo  30 non-null     object
 2   G              30 non-null     int64
 3   P              30 non-null     int64
 4   PCT            30 non-null     float64
 5   JD             30 non-null     object
 6   LOCAL          30 non-null     object
 7   VIS            30 non-null     object
 8   DIV            30 non-null     object
 9   CONF           30 non-null     object
 10  PPA            30 non-null     float64
 11  PPP            30 non-null     float64
 12  DIFP           30 non-null     float64
 13  R              30 non-null     object
 14  U10            30 non-null     object
dtypes: float64(4), int64(2), object(9)
memory usage: 3.6+ KB

In [31]:
import pyodbc
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
print("Conectado al server")

Conectado al server

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:3: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_16736\3815601064.py:3: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [32]:
# Definir el nombre de la tabla
table_name = 'Posiciones_actuales'

# Consulta para verificar si la tabla ya existe
check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0]  # Devuelve 1 si la tabla existe, 0 si no.

if table_exists == 0:
    # Crear la tabla si no existe
    create_table_query = f'''
    CREATE TABLE {table_name} (
        Abreviacion NVARCHAR(20) NOT NULL PRIMARY KEY, -- Abreviatura del equipo (clave primaria)
        Nombre_equipo NVARCHAR(100) NOT NULL, -- Nombre completo del equipo
        G INT NOT NULL, -- Partidos ganados
        P INT NOT NULL, -- Partidos perdidos
        PCT FLOAT NOT NULL, -- Porcentaje de victorias
        JD NVARCHAR(20) NOT NULL, -- Juegos de diferencia
        LOCAL NVARCHAR(20) NOT NULL, -- Récord en casa
        VIS NVARCHAR(20) NOT NULL, -- Récord de visitante
        DIV NVARCHAR(20) NOT NULL, -- Récord en la división
        CONF NVARCHAR(20) NOT NULL, -- Récord en la conferencia
        PPA FLOAT NOT NULL, -- Puntos anotados por partido
        PPP FLOAT NOT NULL, -- Puntos permitidos por partido
        DIFP FLOAT NOT NULL, -- Diferencia de puntos
        R NVARCHAR(20) NOT NULL, -- Racha actual
        U10 NVARCHAR(20) NOT NULL -- Últimos 10 partidos
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

La tabla 'Posiciones_actuales' ya existe.

In [33]:
# 🔹 Borrar los datos antes de insertar los nuevos (mantiene la tabla vacía y limpia)
cursor.execute(f"DELETE FROM {table_name};")
conn.commit()
print(f"Datos anteriores en '{table_name}' eliminados.")

# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]

# Definir la consulta MERGE para evitar duplicados
insert_query = f'''
MERGE INTO {table_name} AS target
USING (VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)) AS source (
    Abreviacion, Nombre_equipo, G, P, PCT, JD, LOCAL, VIS, DIV, CONF, PPA, PPP, DIFP, R, U10
)
ON target.Abreviacion = source.Abreviacion
WHEN MATCHED THEN 
    UPDATE SET 
        Nombre_equipo = source.Nombre_equipo,
        G = source.G,
        P = source.P,
        PCT = source.PCT,
        JD = source.JD,
        LOCAL = source.LOCAL,
        VIS = source.VIS,
        DIV = source.DIV,
        CONF = source.CONF,
        PPA = source.PPA,
        PPP = source.PPP,
        DIFP = source.DIFP,
        R = source.R,
        U10 = source.U10
WHEN NOT MATCHED BY TARGET THEN
    INSERT (Abreviacion, Nombre_equipo, G, P, PCT, JD, LOCAL, VIS, DIV, CONF, PPA, PPP, DIFP, R, U10)
    VALUES (source.Abreviacion, source.Nombre_equipo, source.G, source.P, source.PCT, source.JD, 
            source.LOCAL, source.VIS, source.DIV, source.CONF, source.PPA, source.PPP, source.DIFP, 
            source.R, source.U10);
'''

# Ejecutar la inserción de datos
cursor.executemany(insert_query, data_tuples)
conn.commit()
print(f"Datos de '{table_name}' insertados/actualizados correctamente.")

Datos anteriores en 'Posiciones_actuales' eliminados.
Datos de 'Posiciones_actuales' insertados/actualizados correctamente.

# Estadisticas actuales de los jugadores

In [70]:
# 1. Leer el dataset desde el archivo CSV
ruta_csv = r"C:\Users\ERBC\Desktop\curso henry\Analisis_evolutivo_NBA\Analisis_evolutivo_NBA\datasets_limpios\Estadisticas_actuales.csv"

# Mostrar las primeras filas del dataset
print("Dataset cargado:")
df.info()

Dataset cargado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   position  248 non-null    object
 1   PLAYER    248 non-null    object
 2   TEAM      248 non-null    object
 3   GP        248 non-null    object
 4   MIN       248 non-null    object
 5   PTS       248 non-null    object
 6   FGM       248 non-null    object
 7   FGA       248 non-null    object
 8   FG_PCT    248 non-null    object
 9   TPM       248 non-null    object
 10  TPA       248 non-null    object
 11  TP_PCT    248 non-null    object
 12  FTM       248 non-null    object
 13  FTA       248 non-null    object
 14  FT_PCT    248 non-null    object
 15  OREB      248 non-null    object
 16  DREB      248 non-null    object
 17  REB       248 non-null    object
 18  AST       248 non-null    object
 19  STL       248 non-null    object
 20  BLK       248 non-null    object
 21  TOV       248 non-null    object
 22  EFF       248 non-null    object
dtypes: object(23)
memory usage: 44.7+ KB

In [71]:
import pyodbc
# 2. Conectar a la base de datos SQL Server
server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor
database = 'NBA_database'  # Nombre de la base de datos
username = 'Sa'  # Usuario de SQL Server
password = '1234'  # Contraseña de SQL Server

# Cadena de conexión con usuario de sql
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

#conexion con usuario de windows
#conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establecer la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
print("Conectado al server")

Conectado al server

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:3: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ERBC\AppData\Local\Temp\ipykernel_16736\3815601064.py:3: SyntaxWarning: invalid escape sequence '\S'
  server = 'ERBC-GAMER\SQLEXPRESS'  # Nombre del servidor

In [72]:
# Nombre de la tabla en SQL Server
table_name = 'Estadisticas_actuales'

# Verificar si la tabla ya existe
check_table_query = f'''
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = '{table_name}';
'''

cursor.execute(check_table_query)
table_exists = cursor.fetchone()[0]

if table_exists == 0:
    # Crear la tabla si no existe
    create_table_query = f'''
    CREATE TABLE {table_name} (
        ID INT IDENTITY(1,1) PRIMARY KEY,  -- Clave primaria autoincremental
        position INT NOT NULL,
        PLAYER NVARCHAR(100) NOT NULL,
        TEAM NVARCHAR(50) NOT NULL,
        GP INT NOT NULL,
        MIN FLOAT NOT NULL,
        PTS FLOAT NOT NULL,
        FGM FLOAT NOT NULL,
        FGA FLOAT NOT NULL,
        FG_PCT FLOAT NOT NULL,
        TPM FLOAT NOT NULL,
        TPA FLOAT NOT NULL,
        TP_PCT FLOAT NOT NULL,
        FTM FLOAT NOT NULL,
        FTA FLOAT NOT NULL,
        FT_PCT FLOAT NOT NULL,
        OREB FLOAT NOT NULL,
        DREB FLOAT NOT NULL,
        REB FLOAT NOT NULL,
        AST FLOAT NOT NULL,
        STL FLOAT NOT NULL,
        BLK FLOAT NOT NULL,
        TOV FLOAT NOT NULL,
        EFF FLOAT NOT NULL
    );
    '''
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Tabla '{table_name}' creada exitosamente.")
else:
    print(f"La tabla '{table_name}' ya existe.")

Tabla 'Estadisticas_actuales' creada exitosamente.

In [69]:
# Verificar si hay duplicados en la columna 'position'
duplicados = df[df.duplicated(subset=['position'], keep=False)]

if not duplicados.empty:
    print("Hay valores duplicados en la columna 'position':")
    print(duplicados)
else:
    print("No hay valores duplicados en 'position'.")

Hay valores duplicados en la columna 'position':
    position                  PLAYER TEAM  GP   MIN  PTS  FGM  FGA FG_PCT  \
141      142      Brandin Podziemski  GSW  39  24.8  9.5  3.5  8.2   43.4
142      142            Luke Kennard  MEM  39  22.0  9.5  3.2  6.8   47.2
151      152        Jaime Jaquez Jr.  MIA  45  23.1  9.3  3.3  7.6   43.7
152      152        Kevin Porter Jr.  MIL  45  19.6  9.3  3.8  9.0   42.3
221      222  Jeremiah Robinson-Earl  NOP  42  17.9  5.5  2.1  4.8   44.1
222      222        Lindy Waters III  DET  38  17.2  5.5  2.0  5.4   37.1

     TPM  ...  FTA FT_PCT OREB DREB  REB  AST  STL  BLK  TOV   EFF
141  1.3  ...  1.5   74.6  1.0  3.6  4.6  3.5  1.0  0.2  1.1  12.7
142  2.2  ...  1.1   88.4  0.6  2.3  2.9  3.4  0.7  0.1  1.1  11.8
151  0.6  ...  2.7   76.7  1.3  3.4  4.7  2.7  1.1  0.2  1.5  11.6
152  0.6  ...  1.7   64.5  0.6  2.9  3.6  3.2  1.0  0.2  1.9   9.6
221  0.7  ...  0.7   86.2  1.7  3.0  4.7  1.2  0.7  0.1  0.7   8.8
222  1.3  ...  0.3   72.7  0.4  2.1  2.5  1.1  0.6  0.3  0.4   6.1

[6 rows x 23 columns]

In [73]:
# Eliminar datos antiguos antes de insertar los nuevos
cursor.execute(f"DELETE FROM {table_name};")
conn.commit()
print(f"Datos anteriores en '{table_name}' eliminados.")

# Convertir el DataFrame a una lista de tuplas
data_tuples = [tuple(row) for row in df.to_numpy()]

# Consulta para insertar los datos
insert_query = f'''
INSERT INTO {table_name} (
    position, PLAYER, TEAM, GP, MIN, PTS, FGM, FGA, FG_PCT, TPM, TPA, TP_PCT, 
    FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, EFF
) 
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
'''

# Ejecutar la inserción de datos
cursor.executemany(insert_query, data_tuples)
conn.commit()
print(f"Datos de '{table_name}' insertados correctamente.")

Datos anteriores en 'Estadisticas_actuales' eliminados.
Datos de 'Estadisticas_actuales' insertados correctamente.